@charset "UTF-8";

/* comonn */
:root {
  --bg-gray-light: #fafafa;
  --bg-gray: #f5f5f5;
  --bg-gray-dark: #e6e6e6;
  --bg-primary: #EB8A44;
  --font-primary: #ff9158;
  --border-primary: #ff9158;
  --border-gray: #e6e6e6;
  --font-color-black: #414141;
  --font-color-white: #ffffff;
  --font-color-green: #4B7447;
}

:root {
  --font-family-base: "Helvetica Neue",
    Arial,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif;
}

body {
  font-size: 16px;
  /* background: rgb(235, 138, 68); */
  /* background: linear-gradient(180deg, rgba(235, 138, 68, 1) 0%, rgba(255, 200, 160, 0.6026785714285714) 70%, rgba(252, 210, 95, 1) 100%); */
  /* padding: 0 3vw; */
}

.flex {
  display: flex;
}

.max-w {
  max-width: 1020px;
  margin: 0 auto;
  padding: 0 3vw;
}

/* header */

.header {
  padding: 32px 24px 0;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  width: 25%;
}

.header__list:not(:first-child) {
  margin-left: 40px;
}


.container {
  display: none;
  width: 60px;
  height: 50px;
  margin: auto;
  cursor: pointer;
  position: absolute;
  top: 33px;
  right: 30px;
}

.stick {
  width: 60px;
  height: 3px;
  border-radius: 4px;
  margin-bottom: 15px;
  background-color: var(--bg-primary);
  display: block;
}

.stick:last-child {
  margin-bottom: 0px;
}


.stick-1.open {
  animation: stick-1-open .6s ease-out forwards;
}

.stick-2.open {
  animation: stick-2-open .6s linear forwards;
}

.stick-3.open {
  animation: stick-3-open .6s linear forwards;
}

@keyframes stick-1-open {
  0% {
    width: 60px;
  }

  40% {
    background-color: #ff1456;
    width: 6px;
    transform: translate(55px, 0px);
  }

  75%, 80% {
    width: 6px;
    transform: translate(55px, -50px);
    animation-timing-function: cubic-bezier(0, 1, 1, 1);
  }

  100% {
    background-color: #ff1456;
    width: 1px;
    transform: translate(55px, 36px);
  }
}

@keyframes stick-2-open {
  80% {
    background-color: #2DFDB9;
    transform: translate(0px, 0px) rotate(0deg);
  }

  100% {
    background-color: #ff1456;
    transform: translate(8px, 0px) rotate(45deg);
  }
}

@keyframes stick-3-open {
  80% {
    background-color: #2DFDB9;
    transform: translate(0px, 0px) rotate(0deg);
  }

  100% {
    background-color: #ff1456;
    transform: translate(10px, -20px) rotate(-45deg);
  }
}

.stick-1.close {
  width: 6px;
  transform: translate(27px, 26px);
  animation: stick-1-close .6s ease-out forwards;
}

.stick-2.close {
  transform: translate(0px, 0px) rotate(40deg);
  animation: stick-2-close .6s ease-out forwards;
}

.stick-3.close {
  transform: translate(0px, -23px) rotate(-40deg);
  animation: stick-3-close .6s ease-out forwards;
}

@keyframes stick-1-close {
  0%, 70% {
    width: 0px;
  }

  100% {
    width: 60px;
    transform: translate(0, 0);
  }
}

@keyframes stick-2-close {
  0% {
    background-color: #ff1456;
    width: 60px;
  }

  20% {
    background-color: #ff1456;
    width: 6px;
    transform: translate(0, 0px) rotate(40deg);
  }

  40% {
    background-color: #2DFDB9;
    width: 0px;
  }

  65% {
    transform: translate(0, -70px);
    animation-timing-function: cubic-bezier(0, 1, 1, 1);
  }

  80% {
    width: 0px;
  }

  100% {
    width: 60px;
    transform: translate(0, 0px);
  }
}

@keyframes stick-3-close {
  0% {
    background-color: #ff1456;
    width: 60px;
  }

  20% {
    background-color: #ff1456;
    width: 6px;
    transform: translate(0, -23px) rotate(-40deg);
  }

  40% {
    background-color: #2DFDB9;
  }

  65% {
    transform: translate(0, -93px);
    animation-timing-function: cubic-bezier(0, 1, 1, 1);
  }

  90% {
    width: 6px;
  }

  100% {
    width: 60px;
    transform: translate(0, 0px);
  }
}


@media screen and (max-width: 900px) {
  .header__logo {
    width: 180px;
  }

  .header__img {
    width: 100%;
  }

  .header__nav-list {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: #ffe05d;
    display: none;
  }


  .header__nav {
    display: block;
    text-align: center;
    line-height: 50px;
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .container {
    display: block;
    position: fixed;
  }

}

@media screen and (min-width: 901px) {
  .header-nav {
    display: block !important;
  }
}

@media screen and (max-width: 896px) {
  .header-list {
    display: block;
    text-align: center;
    line-height: 60px;
    font-size: 24px;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}


/* mv */

.mv {
  margin-top: 18vh;
  font-size: 60px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  height: 45vh;
}

.mv__inner {
  width: 82%;
  margin: 0 auto;
  position: absolute;
  top: 40%;
}

.mv__text {
  font-weight: bold;
  font-size: clamp(12px, 4vw, 60px);
}

/* about */

.about {
  margin-top: 15vh;
}

.about__title {
  font-size: clamp(12px, 4vw, 32px);
  width: 30%;
  margin-bottom: 32px;
}

.about__text {
  width: 80%;
  margin-left: auto;
  margin-right: 0;
  font-size: clamp(12px, 1vw, 28px);
}

/* service */

.serviceTop {
  margin-top: 15vh;
}

.service__main-title {
  font-size: clamp(12px, 4vw, 32px);
  width: 30%;
  margin-bottom: 32px;
}

.serviceTop__box {
  width: 100%;
  background-color: var(--font-color-white);
  height: 100px;
  border-radius: 50px;
  border: 1px solid black;
}

.serviceTop__box:not(:last-child) {
  margin-bottom: 64px;
}


.serviceTop__text-box {
  width: 20%;
  color: var(--bg-primary);
  font-size: clamp(16px, 1.2vw, 24px);
  text-align: center;
  border-right: 1px solid black;
  position: relative;
}



.serviceTop__title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.service__title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.service__right {
  width: 100%;
}

.service__text-box {
  position: relative;
  width: 100%;
}

.service__inner-text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  margin-left: 20px;
  font-size: clamp(12px, .8vw, 24px);
}

.service__fee {
  margin-bottom: 12px;
}

.service__text-box {
  width: 80%;
}

.service__right {
  width: 80%;
  justify-content: space-between;
  align-items: center;
}


.service__right-text-box {
  width: 80%;
  margin-left: 20px;
  font-size: clamp(12px, .7vw, 24px);
}

.service__btn-Top {
  display: block;
  font-size: 12px;
  width: 80%;
  border: 1px solid black;
  padding: 5px;
  text-align: center;
  margin: 0 auto;
  color: var(--font-color-green);
  font-weight: bold;
}

.service__btn-inner {
  width: 20%;
  margin-top: 26px;
}

.service__link-inner {
  width: 80%;
  margin: 64px auto;
  justify-content: space-around;
  color: var(--font-color-green);
}

.service__link-hp-box {
  height: 250px;
  width: 42%;
  background-color: var(--bg-gray-light);
  text-align: center;
}


.service__hp-img {
  object-fit: fill;
  height: 220px;
  width: 100%;
}

@media screen and (max-width: 480px) {

  .serviceTop__box {
    display: block;
  }

  .serviceTop__text-box {
    margin: 0 auto;
    border-right: 0 solid black;
    border-bottom: 1px solid black;
    width: 100%;
  }

  .serviceTop__title {
    position: unset;
  }

  .service__title,
  .service__inner-text-box {
    position: unset;
    transform: translate(0, 0);
    margin-left: 0;
  }

  .service__text-box {
    margin: 0 auto;
    width: 90%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .serviceTop__box {
    height: 160px;
    border-radius: 0%;
  }

  .serviceTop__title {
    transform: translate(0, 0);
  }

  .service__right-text-box {
    margin-left: 0;
  }

  .service__right {
    width: 90%;
    margin: 0 auto;
    height: 70%;
  }

  .service__btn-inner {
    margin-top: 0;
    margin-left: 10px;
  }

  .service__btn-Top {
    width: 100%;
  }

  .service__link-inner {
    display: block;
    width: 100%;
  }

  .service__link-hp-box {
    width: 100%;
    margin-bottom: 32px;
  }
}

/* flow */
.flow {
  margin-top: 15vh;
}

.flow__main-title {
  font-size: clamp(12px, 4vw, 32px);
  width: 30%;
  margin-bottom: 32px;
}

.flow__inner {
  align-items: center;
  width: 2000px;
}

.flow__box {
  width: 250px;
  text-align: center;
  margin-right: 16px;
}

.flow__arrow {
  margin-right: 16px;
  font-size: 30px;
  font-weight: bold;
}

.flow__step {
  font-size: clamp(12px, 1.2vw, 24px);
  margin-bottom: 8px;
}

.flow__img {
  margin-bottom: 8px;
}

.flow__title {
  margin-bottom: 8px;
  font-size: clamp(12px, 1vw, 24px);
}

/* member */

.member {
  margin-top: 15vh;
}

.member__main-title {
  font-size: clamp(12px, 4vw, 32px);
  width: 30%;
  margin-bottom: 32px;
}

.member__box {
  margin-bottom: 64px;
  align-items: flex-end;
}

.member__img {
  object-fit: cover;
  background-color: #4B7447;
  border-radius: 50%;
  aspect-ratio: 1/1;
}

.member__text-box {
  background-color: var(--bg-gray-light);
  width: 70%;
  height: 180px;
  border-radius: 50px;
  border: 5px solid var(--bg-gray-dark);
  justify-content: center;
  align-items: center;
}

.member__text-inner {
  width: 80%;
  height: 80%;
  flex-flow: column;
  justify-content: space-evenly;
  color: #707070;
}

.member__img-box {
  width: 40%;
  height: 40%;
}

@media screen and (max-width: 480px) {
  .member__box {
    display: block;
  }

  .member__img-box {
    width: 60%;
    height: 60%;
    margin: 0 auto;
  }

  .member__text-box {
    width: 100%;
  }
}

/* contact */



.contactTop {
  margin-top: 15vh;
}

.contact__box {
  width: 100%;
  background: url(../img/contact.png) 20% / cover;
  height: 300px;
  position: relative;
}

.contact__btn {
  display: inline-block;
  padding: 20px 28px;
  background-color: var(--font-color-white);
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 70%;
  transform: translate(-50%, -50%);
  font-size: clamp(12px, 1vw, 24px);
}

@media screen and (max-width: 480px) {
  .contact__btn {
    padding: 10px 15px;
    transform: translate(-30%, -50%);
  }
}

/* footer */

.footer {
  background-color: var(--bg-gray);
  text-align: center;
  margin-top: 64px;
  padding-bottom: 32px;
}

.footer__logo {
  width: 40vw;
  margin: 0 auto 50px;
  padding-top: 40px;
}

.footer__img {
  width: 40%;
  aspect-ratio: 3/1;
}

.footer__nav-list {
  width: 80%;
  margin: 0 auto;
}

.footer__nav {
  width: 80%;
  margin: 32px auto;
  justify-content: space-between;
}

@media screen and (max-width: 480px) {
  .footer__nav {
    font-size: 12px;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
  }

  .footer__logo {
    width: 40%;
    height: 40%;
  }

  .footer__img {
    width: 100%;
  }
}