@use "../global/breakpoint"as b;



// レイアウト幅
$m_inner: 1020px;

// 余白
$padding-pc: 25px;
$padding-sp: 20px;


//共通inner

.inner-m {
  width: 90%;
  margin: 0 auto;

  @include b.mq(lg) {
    max-width: $m_inner;

  }

}