//色設定用

// グラデーション
$cLinear: linear-gradient(90deg, rgba(235,138,68,1) 0%, rgba(255,200,160,1) 5%, rgba(252,210,95,0) 100%);


:root {
  --bg-page: #fff7eb;
  --bg-main: #fff9f5;
  --bg-footer: #EDEDED; 
  --font-color-black: #0b0a0a;
  --font-color-orenji: #eb8a44;
  --contact:#FF8F3C;
  --alert:#F83434;
  --font-color-button:#4B7447;
}